#game-route{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 95%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.game-opponent-div{
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    background-color: rgba(247, 41, 41, 0.212);
    box-shadow: 0 0 3px rgba(250, 65, 52, 0.616);
    border-radius: 20px;
    border: 2px solid transparent;
}

.opponent-info{
    font-size: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.opponent-status{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: red;
    box-shadow: 0 0 3px rgba(250, 65, 52, 0.616);
}

.scores-div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    justify-items: center;
}

.scores-div>div{
    padding: 5px;
    font-size: 20px;
    border-radius: 10px;
}

.scores-div>div:nth-child(3){
    grid-column: 1 / span 2;
    
}

.scores-div>div:nth-child(3),.scores-div>div:nth-child(1){
    box-shadow: 0 0 5px rgba(87, 238, 41, 0.644);
    background-color: rgba(48, 247, 58, 0.233);

}

.scores-div>div:nth-child(2){
    background-color: rgba(247, 41, 41, 0.212);
    box-shadow: 0 0 5px rgba(250, 65, 52, 0.616);
}



.mark-on-hover{
    color:rgba(0, 0, 0, 0.37)
}

.game-cell{
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    border: 1px solid;
}

.cell-highlighted{
    box-shadow: 0 0 5px rgba(87, 238, 41, 0.644);
    background-color: rgba(48, 247, 58, 0.233);
}


