.mark-on-hover{
    color:rgba(0, 0, 0, 0.37)
}


.game-cell{
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    border: 1px solid;
}

.cell-highlighted{
    border: 2px solid green;
}


