#home-route{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    padding-left: 2.5%;
    padding-right: 2.5%;
    width: 95%;
}

.previous-games-list{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.previous-games-list-item{
    width: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    text-decoration: none;
    color: black;
    background-color: rgba(122, 181, 204, 0.411);
    border-radius: 15px;
    transition: all 300ms;
}

.previous-games-list-item.previous-games-list-header{
    background-color: rgba(209, 208, 208, 0.253);
}

.previous-games-list-item.ongoing{
    background-color: rgba(48, 247, 58, 0.233);
}

.previous-games-list-item.previous-games-list-header:hover{
    transform: scale(1);
}

.previous-games-list-item-item{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.previous-games-list-item:hover{
    transform: scale(1.02);
}



