#home-route{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    padding-left: 2.5%;
    padding-right: 2.5%;
    width: 95%;
}

.find-match-btn{
    margin-top: 100px;
    font-size: 20px;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 15px;
    cursor: pointer;
    transition: all 300ms;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.find-match-btn:hover{
    transform: scale(1.1);
}

.find-match-btn.idle{
    box-shadow: 0 0 10px rgba(87, 238, 41, 0.644);
    background-color: rgba(48, 247, 58, 0.233);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.find-match-btn.Loading{
    box-shadow: 0 0 5px rgba(41, 192, 238, 0.644);
    background-color: rgba(48, 184, 247, 0.233);

}

.find-match-btn.error{
    box-shadow: 0 0 5px rgba(250, 65, 52, 0.774);
    background-color: rgba(247, 41, 41, 0.329);
    color: rgb(206, 16, 16);
}

.previous-games-list{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.previous-games-list-item{
    width: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    text-decoration: none;
    color: black;
    background-color: rgba(122, 181, 204, 0.411);
    border-radius: 15px;
}

.previous-games-list-item.previous-games-list-header{
    background-color: rgba(209, 208, 208, 0.253);
}

.previous-games-list-item.previous-games-list-header:hover{
    transform: scale(1);
}

.previous-games-list-item-item{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.previous-games-list-item:hover{
    transform: scale(1.02);
}



