html,body{
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}

#root{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#root-header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-title-section{
    margin-left: 20px;
    text-decoration: none;
    color: black;

}

.header-user-section{
    font-size: 20px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: rgba(247, 41, 41, 0.404);
    padding: 10px;
    border-radius: 20px;
    border: 2px solid transparent;
    transition: all 0.500s;
    box-shadow: 0 0 10px rgba(250, 65, 52, 0.774);
    color: rgba(71, 16, 16, 0.822);
    font-style: italic;
}

.header-user-section.connected{
    box-shadow: 0 0 10px rgba(87, 238, 41, 0.644);
    background-color: rgba(48, 247, 58, 0.233);
    color: rgba(24, 51, 24, 0.795);
}

#root-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.lucide-loader-circle{
    animation: loader-animation 1.3s linear infinite;
}

@keyframes loader-animation {
   from {transform: rotate(0turn);}
   to {transform: rotate(1turn);} 
}
